dep*
*~
*.*~
log*
.*log
*.log
src/
.bashrc
usr/
bin/
/git
/.m
/.cpl/_*
/_lastlog
/.README.md
/.ssh/curl-ca-bundle.crt.secret
/.bashrc_aliases_git
/.gitconfig
/.bash_history
/.viminfo
/.lesshst
.*.swp
/.cpl/cache
/.ssh/curl-ca-bundle.crt
/.ssh/authorized_keys
/.ssh/config
/.ssh/gitoliteadm
/.ssh/*.pub
/.cpl/gitolite/
/.gitolite/
/gitolite/
/.gitolite.rc
/openldap/db.1.a/
*_log
*.args
*.pid
