dep*
*~
*.*~
log*
!/logstash/
/logstash/data/
gbl*
.*log
*.log
src/
.bashrc
usr/
bin/
/.m
/.cpl/_*
/_lastlog
/.README.md
/.ssh/curl-ca-bundle.crt.secret
/.bashrc_aliases_git
/.gitconfig
/.bash_history
/.viminfo
/.vim/
/.lesshst
.*.swp
/.cpl/cache
/.ssh/curl-ca-bundle.crt
/.ssh/authorized_keys
/.ssh/config
/.ssh/gitoliteadm
/.ssh/gitoliteadm.config
/.ssh/root
/.ssh/root.config
/.ssh/*.pub
/.cpl/gitolite/
/.gitolite/
/.gitolite.rc
*_log
*.args
*.pid
/.ssh/svc
/gitolite/projects.list
/repositories/
/cgit/cgit.cgi
/cgit/cgit.css
/cgit/cgit.png
/.rnd
.cpanm/
.cpan/
.bash_history
.gem/
.subversion/
apache/env.conf
apache/openssl.cnf
*.crt*
*.key
.ssh/old_authkeys
/.ssh/cnf
/.ssh/known_hosts
/a/
/cgit/cgitrc
/cgit/cgit.pl
*.nfs*
/gitweb/gitweb.conf.pl
/apache/crt
/apache/key
/apache/o.cnf
/openldap/slapd.1.conf
/apache/old/
/openldap/a
/openldap/*.pem
/openldap/ldap.conf
/.history
.mm
/.manpath
/lynx/lynx.cfg
/apache/ctl
/apache/ctld
/.proxy
/gitblit/*.war
/gitblit/groovy
/gitblit/users.conf
/gitblit/web.*
/tomcat/RUN*
/tomcat/lib/
/tomcat/webapps/
/tomcat/work/
/tomcat/conf/server.xml
/tomcat/conf/tomcat-users.xml
/jdk/.cookies
/repositories
/repositories.ori/
*.ori*
.ldap
tomcat/key*
*.p12*
*.pem
*.pkcs12
/.crypt/
/gitlab/*.yml
/mysql/sandboxes/
/.bundle/
/.cache/
/.cpl/src
/mysql/5.*
/bredis/redis.conf
/gitlab/unicorn.rb
/nginx/nginx.conf
/nginx/nginx.conf.old
/projects.list
dump.rdb
/redis/redis.conf
/redis/redis.conf.ori
/build/
/.ldap
/gitlab/omniauth.rb
/.pyhistory
/nxlog/nxlog.conf
*.private
/openldap/db.1.a/
/openldap/ini_ldap_db.sh
/openssh/check_ldap_rootca.sh
/gitlab/install_or_update_gitlab.sh
/gitolite-admin
/gitolite/ga/
/.mozilla/
/addresses.txt
/gitolite/VREF/CHECKID
/sbin/gitolite-shell
/openldap/.ldap.test
/openldap/slapdd
/gitolite/default.gitolite.rc
*.1
*.tpl_*
/.mysql_history
/gitlab/gitlab-satellites/
/gitlist/github
/gitlist/apache.cnf
/gitlist/config.ini
/gitlist/htaccess
/divergence
*.o
*.out
.composer/
composer/
/.config/
/.local/
/.pki/
/Backup/
/backups/
*.old/
/gitlab/apache.cnf
/gitlab/puma.rb
/.cpl/fixed_versions
.*.old
/.gnupg/*.pub
/.gnupg/*.gpg
/.gnupg/*.sec
/.gnupg/random_seed
*.asc
/mcron/projextrdr*
/mcron/mcron
/gitolite/ldap/
/sbin/gitolite-ldap
/sbin/ldap_name
/openldap/ldap/
/.gnupg/projextrdr*
/apache/ssl_mutex/
/.gnupg/
/?netrc*
/apache/gdb.txt
/apache/debug
/.ssh/g1
*.old
.sincedb_*
/sbin/a
/nginx/html/*.zip
.ssh/old/
rs-ssl/
/.ssh/*_root
